<html>
	<head>
		<title>Testimonials</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="public/css/style.css" />
		<link rel="stylesheet" href="public/css/testimonials.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="icon" href="public/img/logo.png" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg text-center">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="public/img/logo.png" alt="logo_dumbways" />
				</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarTogglerDemo02"
					aria-control="navbarTogglerDemo02"
					aria-expanded="false"
					aria-label="Toggle Navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item ms-md-4">
							<a class="nav-link text-black" aria-current="page" href="/"
								>Home</a
							>
						</li>
						{{if .DataSession.IsLogin}}
						<li class="nav-item">
							<a
								class="nav-link text-black"
								aria-current="page"
								href="my-project"
								>Add Project</a
							>
						</li>
						{{end}}
						<li class="nav-item">
							<a
								class="nav-link text-black active"
								aria-current="page"
								href="testimonials"
								>Testimonials</a
							>
						</li>
					</ul>
					{{if .DataSession.IsLogin}}
					<a
						href="#"
						class="hello-user me-5"
						style="text-decoration: none; color: black"
						>Hello, {{.DataSession.Name}}</a
					>
					<form id="myform" action="/logout" method="POST"></form>
					<button
						onclick="document.getElementById('myform').submit()"
						class="btn-auth button-logout me-5"
					>
						Logout
					</button>
					{{else}}
					<a
						href="/form-register"
						class="btn-auth me-5 text-decoration-none text-black tombol-register"
						>Register</a
					>
					<a
						href="/form-login"
						class="btn-auth me-5 text-decoration-none text-black tombol-login"
						>Login</a
					>
					{{end}}
					<a href="contact" class="btn bg-navy text-white px-3 me-4"
						>Contact Me</a
					>
				</div>
			</div>
		</nav>

		<div class="container-body">
			<h1>My Testimonials</h1>
			<div class="container-rating">
				<h2>Rating By Stars</h2>
				<div class="rating">
					<button class="rating-btn" onclick="getAllTestimonials()">All</button>
					<button class="rating-btn" onclick="getFilteredTestimonials(1)">
						1 <i class="fa-solid fa-star"></i>
					</button>
					<button class="rating-btn" onclick="getFilteredTestimonials(2)">
						2 <i class="fa-solid fa-star"></i>
					</button>
					<button class="rating-btn" onclick="getFilteredTestimonials(3)">
						3 <i class="fa-solid fa-star"></i>
					</button>
					<button class="rating-btn" onclick="getFilteredTestimonials(4)">
						4 <i class="fa-solid fa-star"></i>
					</button>
					<button class="rating-btn" onclick="getFilteredTestimonials(5)">
						5 <i class="fa-solid fa-star"></i>
					</button>
				</div>
			</div>
			<section class="testimonials" id="testimonials">
				<!-- <div class="testimonial">
          <img
            src="assets/images/profile/profile.png"
            alt=""
            class="profile-testimonial"
          />
          <p class="quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget
            lectus eu libero venenatis gravida eget vel odio.
          </p>
          <p class="author">- Yehezkiel Reynaldi</p>
        </div>

        <div class="testimonial">
          <img
            src="assets/images/profile/profile.png"
            alt=""
            class="profile-testimonial"
          />
          <p class="quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget
            lectus eu libero venenatis gravida eget vel odio.
          </p>
          <p class="author">- Abel Dustin</p>
        </div>

        <div class="testimonial">
          <img
            src="assets/images/profile/profile.png"
            alt=""
            class="profile-testimonial"
          />
          <p class="quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget
            lectus eu libero venenatis gravida eget vel odio.
          </p>
          <p class="author">- Yehezkiel Reynaldi</p>
        </div> -->
			</section>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
			crossorigin="anonymous"
		></script>
		<script type="text/javascript" src="public/js/index.js"></script>
		<script type="text/javascript" src="public/js/ajax.js"></script>
	</body>
</html>
