@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background-color: #e3e6eb;;
}

nav {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    height: 10vh;

}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

nav ul li a {
    color: black;
}

nav ul li .active {
    color: black;
    font-weight: bold;
}

.nav-left {
    /* Mengatur Lebarnya */
    flex: 50%;
    margin-left: 25px;
}

.hello-user, .tombol-register, .tombol-login{
    font-size: 19px;
}

.hello-user:hover,
.tombol-register:hover,
.tombol-login:hover {
    color: orangered !important;
}

.button-logout {
    font-size: 19px;
    border: none;
    border-radius: 8px;
}

.button-logout:hover{
    color: orangered;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #e3e6eb !important;
}

nav {
    background-color: #f3f3f3;
    z-index: 2;
}

.bg-navy{
    background-color: #111727 !important;
}

.container-sm {
    min-height: 100vh;
    z-index: -9999;
}

.card {
    background-color: white!important;
}

.text-justify {
    text-align: justify;
}

.download-cv{
    position: relative;
    top: 5px;
}

.ikon-download {
    position: relative;
    top: 5px;
    left: 10px;
}

.gambar-card-kanan {
    width: 400px;
    height: 400px;
}

.desc-foto-saya {
    position: relative;
    top: -5;
}

.card-img-top {
    height: 250px;
    object-fit: cover !important;
}

.card-project {
    border: 0px !important;
    transition: all 1s ease-in-out;
}

.durasi-card {
    font-size: 15px !important;
    color: gray;
}

.grid article .icon-linked-app {
    display: flex;
    /* width: 100px; */
    object-fit: cover;
    cursor: pointer;
}

.icon-linked-app {
    display: flex;
}

.icon-linked-app img:hover {
    rotate: 360deg;
    transition: ease-in-out 0.555s;
    transition-delay: 0.1s;
    cursor: pointer;

}

.icon-linked-app .nodejs .gambar-node {
    width: 25px;
    margin-right: 10px;
}

.icon-linked-app .nextjs .gambar-next {
    width: 25px;
    margin-right: 10px;
}

.icon-linked-app .reactjs .gambar-react {
    width: 25px;
    margin-right: 10px;
}

.icon-linked-app .typescript .gambar-type {
    width: 25px;
    margin-right: 10px;
    border-radius: 50%;
}

.container-button button {
    width: 100% !important;
    height: 30px;
    background-color: #111727;
    color: white;
    line-height: 100%;
    font-size: 15px;
    font-weight: 500;
}



/* Hover */

.card-project:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.navbar-toggler:hover {
    background-color: #fd7e14 !important;
}

.nav-link:hover {
    color: orangered !important;
}

.bg-navy:hover {
    background-color: orangered !important;
}

.download-cv:hover {
    color: orangered !important;
}

.fa-brands:hover {
    color: orangered !important;
}

.card-title:hover a {
    color: orangered !important;
}
/* Akhir Hover */


@media only screen and (max-width: 550px) {

    .container-sm {
        margin: 50px;
        min-height: 0vh;
        }
                .gambar-card-kanan {
                    width: 100%;
                    height: 276px;
                }
    .card-body .judul {
        margin-top: -5px !important;
        font-size: 20px;
    }

    .caption-home {
        font-size: 14px;
    }

    .container-contact .button-wa {
        font-size: 13px;
    }

        .container-contact {
            font-size: 13px;
        }

    .container-social-media {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 13px;
    }

    .card-right {
        margin: 0 25px;
    }

    .card-img-top {
    height: 150px;
    }

    .card-title {
        font-size: 9px;
        font-weight: bold;
    }

    .card-text {
        font-size: 8px !important;
        font-weight: 500;
        margin-top: -5px;
    }

    .durasi-card {
        margin-top: -5px;
    }

    .icon-project {
        width: 15px !important;
        margin-top: -15px;
    }

    .icon-linked-app {
        font-size: 8px;
    }

    .container-button button {
        margin-top: -30px !important;
        height: 20px;
        font-size: 10px !important;
    }

    .buttonEdit{
        width: 73px !important;
        font-size: 9px !important;
        height: 28px !important;
    }

    .buttonDelete {
    width: 73px !important;
    font-size: 9px !important;
    }

    /* Atur Navbar agar terlihat */
    nav {
        margin-bottom: 180px;
    }
}